
nav {
  user-select: none;
  padding: $spacing $spacing 0;
  max-width: 280px;

  opacity: 0;
  transition: opacity $trans-dur, transform $trans-dur-slower;

  line-height: 1.5em;
  font-size: 18px;
  a {
    display: inline-block;

    font-family: $font-serif;
    font-weight: 400;

    opacity: 0.5;

    transition: opacity $trans-dur, color $trans-dur, transform $trans-dur;
    
    html[data-article=''] & {
      opacity: 0.8;
    }

    &[is='item'] {
      font-style: italic;
    }

    &:hover,
    &[active='true'] {
      opacity: 1;
    }
  }

  ul {

    &[group] {
      $lineheight: 27px;
      overflow: hidden;
      height: 0;
      // margin-bottom: $spacing;
      font-size: 90%;
      
      transition: height $trans-dur-slow;
      
      li {
        line-height: $lineheight;

        a {
          vertical-align: top;
          line-height: $lineheight;
          padding: 0 $spacing/2;
        }
      }

      [align='left'] & {
        border-right: 1px solid rgba(white,0.8);
      }
      [align='right'] & {
        border-left: 1px solid rgba($color-dark,0.8);
      }

      &.show {
        @for $i from 1 through 10 {
          &[length='#{$i}'] {
            height: $lineheight * $i;
            
            > li > a {
              transform: translate3d(0,0,0);
            }
          }
        }
      }
    }

  }
}
