
footer {
  display: none;
  @extend %clearfix;

  user-select: none;
  cursor: default;

  position: fixed;
  // top: 0;
  left: 0; right: 0; bottom: 0;
  z-index: 99;

  margin: 0;
  padding: $spacing/2 0 0;
  min-width: $page-min-width;

  // background-color: $color-dark;

  transform: translate3d(0,0,0);
  // transform: translate3d(0px, calc(100% - 40px), 0);
  transition: transform $trans-dur-slower;
  transition-delay: $trans-dur-slower;

  svg.svg-footer {
    display: block;
    margin: auto -5%;
    padding: 0;
    width: 110%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  p {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    z-index: 5;

    margin: auto;
    width: 50%;
    min-width: 300px;
    height: 4vw;
    line-height: $spacing;
    font-size: 28px;
    text-align: center;
    font-family: $font-serif;
    color: rgba(white, 0.8);

    opacity: 0;
    transition: opacity $trans-dur;

    html[data-section='about'] & {
      opacity: 0;
      transition-delay: 0ms;
    }
  }

  > a {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 10;

    display: block;
    margin: 0;
    padding: 0;
  }

  a {
    color: $color-light;
    &:hover {
      color: white;
    }
  }

  html[data-section='about'] & {
    transform: translate3d(0,100%,0);
    // transition-delay: $trans-dur-slower/4;
    transition-delay: 0ms;
  }
  html[data-load-state="post-load"] &,
  html[data-load-state="loading"] & {
    // transform: translate3d(0,0,0);
    transform: translate3d(0,100%,0);
    transition-delay: 0ms;
  }
}
