
footer
  include ../../img/footer.svg
  if content.about.meta.enabled
    a(href='/about' is='section' section='about')
  p … annað
  //- p
    | #{content.about.meta.fullname}
    | &nbsp;|&nbsp;
    a(href='mailto:#{content.about.meta.email}')=content.about.meta.email
    | &nbsp;|&nbsp;
    | S:&nbsp;
    a(href='tel:+354#{content.about.meta.phone}')=content.about.meta.phone
