
svg.svg-nav-down {
  width: 36px;
  height: auto;
}

svg.svg-nav-left {
  width: 18px;
  height: auto;
}

svg.svg-nav-right {
  width: 18px;
  height: auto;
}

svg.svg-nav-up {
  width: 36px;
  height: auto;
}
