
nav {
  user-select: none;
  padding: $spacing $spacing 0;
  max-width: 280px;

  opacity: 0;
  transition: opacity $trans-dur, transform $trans-dur-slower;

  line-height: 1.5em;
  font-size: 18px;
  a {
    display: block;

    font-family: $font-serif;
    font-weight: 400;

    opacity: 0.8;

    transition: opacity $trans-dur, color $trans-dur, box-shadow $trans-dur;

    &:hover {
      opacity: 1;
    }

    &[is='item'] {
      font-style: italic;
    }

    &[active='true'] {
      font-weight: 700;
    }
  }

  ul {

    li {
      ul {
        margin-bottom: $spacing;
        font-size: 90%;

        a {
          line-height: 1.25em;
          padding-top: 0.25em;
          padding-bottom: 0.25em;
        }

        [align='left'] & {
          border-right: 1px solid rgba(white,0.8);
        }
        [align='right'] & {
          border-left: 1px solid rgba($color-dark,0.8);
        }

        ul {
          margin-bottom: $spacing/2;
        }
      }
    }
  }
}
