section.right.brown(name='oskapandi' align='right')
  a(href='/' section='')
  a(href='/oskapandi' section='oskapandi')
  h1=content.index.meta.oskapandiTitle
  nav
    +navItems(content.files.oskapandi.files)

  inner
    +articles(content.files.oskapandi.files, 'oskapandi')
