section.right.brown(name='oskapandi')
  h1 Pistlar &amp;<br>fræðilegur<br>texti
  nav
    a(href='/oskapandi/pistlar'): span Pistlar
    a(href='/oskapandi/gagnryni'): span Gagnrýni
      //- Plötur
      //- Kvikmyndir
    a(href='/oskapandi/ritgerdir'): span Fræðilegar ritgerðir