section.left.blue(name='skapandi' align='left')
  a(href='/' is='section' section='')
  a(href='/skapandi' is='section' section='skapandi')
  h1=content.index.meta.skapandiTitle
  nav
    +navItems(content.files.skapandi.files)

  inner
    +articles(content.files.skapandi.files, 'skapandi')
