
ul {
  @extend %reset-list;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;

    ul {
      display: none;
      padding: 0 $spacing/2;

      &.show {
        display: block;
      }
    }
  }
}

ol {}
