
section {
  &[align='right'] {
    left: auto;
    right: 0;

    > h1 {
      left: 0;
      text-align: left;
      transform: translate3d(0,-44px,0);
    }

    > nav {
      left: 0;
      text-align: left;
      transform: translate3d(-100%,0,0);
      
      ul[group] {
        > li > a,
        > a {
          transform: translate3d(-100%,0,0);
        }
      }
    }

    > inner {
      left: 280px;
      right: $spacing*2;
    }
  }
}
