
article {
  @extend .y-scroll;

  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 1;

  margin: auto;
  padding: $spacing*2 $spacing*2 $spacing;
  max-width: 630px;
  height: 100%;

  opacity: 0;

  line-height: 1.5;
  text-align: left;

  transition: opacity $trans-dur;
  transition-delay: 0ms;

  &.show {
    z-index: 2;
    opacity: 1;
    transition-delay: $trans-dur;
  }

  html[data-load-state='loading'] &,
  html[data-load-state='post-load'] &,
  html[data-load-state='intro'] &,
  html[data-section='about'] &,
  html[data-article=''] &{
    opacity: 0;
    transition-delay: 0ms;
  }
}
