
section {
  &[align='bottom'] {
    z-index: 3;
    left: 0; right: 0;
    width: 100%;
    transform: translate3d(0,100%,0);

    padding: $spacing*2 0;
  }

  html[data-section='about'] &[name='about'] {
    transform: translate3d(0,40px,0);
  }

  row {
    opacity: 1;
    transition: opacity $trans-dur-slower;
    transition-delay: $trans-dur-slower;
  }
}
