
section {
  html[data-section=''] & {
    > a[section] { transform: translate3d(0,0,0); }
    > a[section=''] { transform: translate3d(0,-100%,0); }
  }

  html[data-section='oskapandi'] &[name='skapandi'],
  html[data-section='skapandi'] &[name='oskapandi'],
  html[data-section='about'] & {
    > a[section] { transform: translate3d(0,-100%,0); }
    > a[section=''] { transform: translate3d(0,0,0); }
  }

  html[data-load-state="post-load"] &,
  html[data-load-state="loading"] & {
    > a[section] {
      transform: translate3d(0,-100%,0);
    }
    &[align='left'] {
      > h1 {
        transform: translate3d(100%,-100%,0);
      }
    }
    &[align='right'] {
      > h1 {
        transform: translate3d(-100%,-44px,0);
      }
    }
    &[align='bottom'] {
      transform: translate3d(0,50%,0);

      row {
        opacity: 0;
      }
    }
  }

  html[data-section='skapandi'] &,
  html[data-section='oskapandi'] &,
  html[data-section='about'] &,
  html[data-section=''] & {
    > h1 {
      transition-delay: 0ms;
    }
  }

  html[data-section='oskapandi'] &[name='oskapandi'],
  html[data-section='skapandi'] &[name='skapandi'] {
    width: calc(100% - 40px);

    z-index: 2;
    transition: width $trans-dur-slower ease 1ms, z-index 1ms;

    > h1 {
      top: 2%;
      transform: translate3d(0,0,0);
    }

    > nav {
      opacity: 1;
      transform: translate3d(0,0,0);
      transition-delay: $trans-dur-slower;
    }
  }

  html[data-section='oskapandi'] &[name='skapandi'],
  html[data-section='skapandi'] &[name='oskapandi'] {
    > h1 {
      opacity: 0;
      transition-delay: $trans-dur-slower;
    }
  }

  html[data-section='about'] &[name='skapandi'],
  html[data-section='about'] &[name='oskapandi'] {
    > h1 {
      opacity: 0;
      transition-delay: 0ms;
    }
  }
}
